body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.custom-navbar {
  height: 40px; /* Adjust the height according to your needs */
}

.input-form{
  display: 'block';
  width: '100%';
  border-radius: 10px;
  

}


.whatislifecont{
  width:"100%";
  height:"900px";
  background-color:"blue";
}

.benefitbox{
  width:"50%";
  height: "200px";
  border: "1px solid grey";
}

